@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

img {
    width: 100%;
    height: auto;
}
p.accidents {
    color: rgba(8, 50, 96, 0.8);
    font-weight: 400;
    margin: 20px 0 25px 0;
}
